* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #2b2d42;
}

button {
  background: #14213d;
  color: #fca311;
  border: none;
  cursor: pointer;
  font-size: 25px;
  height: 75px;
  border: black 2.5px solid;
  margin: 0.6px;
}

button:active {
  transform: scale(1.02);
}

#times:focus,
#plus:focus,
#minus:focus,
#divide:focus {
  background-color: #1e315c;
}

.calculator {
  width: 300px;
  height: 526px;
  border: black 2.5px solid;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#undo {
  grid-column: span 1;
}

#zero,
#clear {
  grid-column: span 2;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 145px;
  background: #14213d;
  color: #fca311;
  font-size: 50px;
  overflow: hidden;
  border-bottom: black 2.5px solid;
}
